<!doctype html>
<html lang="en">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>csTech</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/talayankara">
        <img src="http://www.cstech.com.tr/images/cstechlogo_inverted.png" height="30"
             class="d-inline-block align-left">

    </a>
</nav>

<div class="container">

    {% if intent %}
        <body onLoad="validatorAlert();"></body>
    {% endif %}

    <div class="row">

        <div class="col-md-9">
            <table class="table table-list-search">
                <thead>
                <tr>
                    <th>Deneme Sayısı</th>
                    <th>Bilgisayar Tahmini</th>
                    <th>Bilgisayar Skoru</th>
                    <th>Senin Tahminin</th>
                    <th>Senin Skorun</th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td>1</td>
                    {% for it in dict.values %}
                        <td>{{ it.0 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>2</td>
                    {% for it in dict.values %}
                        <td>{{ it.1 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>3</td>
                    {% for it in dict.values %}
                        <td>{{ it.2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>4</td>
                    {% for it in dict.values %}
                        <td>{{ it.3 }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td>5</td>
                    {% for it in dict.values %}
                        <td>{{ it.4 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>6</td>
                    {% for it in dict.values %}
                        <td>{{ it.5 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>7</td>
                    {% for it in dict.values %}
                        <td>{{ it.6 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>8</td>
                    {% for it in dict.values %}
                        <td>{{ it.7 }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td>9</td>
                    {% for it in dict.values %}
                        <td>{{ it.8 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>10</td>
                    {% for it in dict.values %}
                        <td>{{ it.9 }}</td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>
            <div class="table-responsive col-md-12">
                {% if isGameEnded %}
                    <body onLoad="validatorAlert();"></body>
                    <button class="btn btn-primary btn-block btn-lg" onclick="freshStart()">Start New Game</button>
                {% else %}
                    <table id="sort2" class="grid table table-bordered table-sortable">
                        <thead>
                        <tr>
                            <th> Tahmininizi Giriniz</th>
                            <th> Bilgisayarın Tahmini</th>
                            <th> Bilgisayarın Skorunu Giriniz</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <form action="" method="POST">
                                {% csrf_token %}


                                <td><input type="text" name="user_guess" maxlength="4" placeholder="1234"
                                           class="form-control input-lg"></td>
                                <td>
                                    <center><h4>{{ dict.comp_guess_list|last }}</h4></center>
                                </td>
                                <td><input type="text" name="comp_score" maxlength="3" class="form-control input-lg"
                                           placeholder="Artı,Eksi"></td>
                                <td><input type="submit" value="Gönder" class="btn btn-primary btn-block btn-lg"></td>

                            </form>
                        </tr>

                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>


</body>
</html>

<script>
    var myVar = '{{info}}';
</script>

<script>
    function validatorAlert() {

        alert(myVar);
    }
</script>
<script>
    function freshStart() {

        location.replace(location.href)
    }
</script>
